$base-path: '../assets/';

//Grid
$container-base-width: 1920px;
$grid-columns: 12;
$grid-gutter: 30px;

// Fonts / Typography
$font-base: sans-serif;
$font-browser-context: 16px;

$desktop-width: 1440px;
$desktop-height: 1440px;
$tablet-width: 1024px;
$tablet-portrait-width: 768px;
$mobile-width: 375px;

$smart: "(min-width: 576px) and (max-width: 714px)";
$tablet: "(min-width: 715px) and (max-width: 1049px)";
$mobile: "(max-width: 719px)";

$land: "(orientation: landscape) and";
$port: "(orientation: portrait) and";
$mobile_only: "(min-width: 576px) and (max-width: 714px)";
$mobile_all: "(max-width: 1049px)";
$min_height: "(min-height: 800px)";